body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.jumbotron {
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url(../img/familyphoto/02.jpg);
  background-size: cover;
  color: #ffffff;
  height: 800px;
    text-shadow: 2px 2px 2px #000000;

}

.jumbotron h2 {
  font-size: 150px;
  font-weight: 900;
  margin: 0;
  /*color: #fff;*/
  
}

/*.topicon{
    text-align: center;
}*/

.uploadbtn{
    display: inline-block;
    margin-top: 60px;
    padding: 12px 30px;
    color: white;

    font-size:55px;
    font-weight:bold;
    
    background-color: #3b5998;
    border-radius: 10px;
    border:5px solid #fff;
    background-color: rgba(0,0,0,0);
}

.uploadbtn:hover{
      color: white;
}

.fa {
    margin-right: 20px;
}


.container-mid{
    /* the margin of the area of content*/
    margin: 5px 44px;
}

.row {
    /*padding: 0px 1px;
    
  /*width: 720px;
  height: 460px;*/
}

.imgbox{
    /* margin between two pictures*/
    margin: 30px 0px;
}
.imgbox p {
    font-size: 50px;
    line-height: 60px;
    /*padding: 5px 0px;*/
    /*width:500px;*/

}
.imgbox img{
    width: 100%
}
.youtube {
        width:100%;              /*横幅いっぱいにwidthを指定*/
        padding-bottom: 56.25%;  /*高さをpaddingで指定(16:9)*/
        height:0px;              /*高さはpaddingで指定するためheightは0に*/
        position: relative;
}

.youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}



/*iframe {
  margin-left: 0;
}

.col-md-6 {
  margin: 0 0 30px;
}*/

.subAlbums p {
  font-weight: 500;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
